body {
  background-color: #141414;
  color: white;
  font-family: sans-serif;
}
img {
  height: 30px;
}
.nfHeader{
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.nfHeader_left{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nfHeader_left{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nfHeader_left img{
  margin-right: 20px;
}
.nfHeader_left p {
  margin: 0 20px;
}
.nfBody{
  padding: 10px 50px;
}
.content {
  height: 180px;
  width: auto;
  transition: transform 0.2s;
}
.content:hover{
  transform: scale(1.1);
  z-index: 1;
    
}
.mainContainer {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: -1; 
}
.container img{
  margin: 0.5em;
  height: 160px;
  width: 250px;
  border-radius: 10px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 20px;

}
.container_info{
  
  margin-right: 10px;
  width: 60vw;
  overflow-wrap: normal;
}
.container_size{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_size h4 {
  margin-right: 10px;
}
.footer {
  height: 200px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-links svg{
  margin: 20px 30px;
  color: white;
}
.mainContainer::-webkit-scrollbar-track {
  background-color: transparent;
}
.mainContainer::-webkit-scrollbar {
  width: 10px;
}
.mainContainer::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}
